

{% block content %}

<div class="container">
    <div class="col-md-8">
        <h2>Product Details</h2>

    </div>
<h2>{{ text }}</h2>
<style>
   img {
    border-radius: 10px
    }
</style>
<img src={{ estate.img.url}}  width="410" height="420" />
<img src={{ estate1.img.url}}  width="410" height="420" />
    <h2>Name :{{ estate.name }}</h2>
    <p>State :{{ estate.state }}</p>
    <p>City :{{ estate.city  }}</p>
    <p>Altitude :{{ estate.altitude }}</p>
    <p>Description :{{ estate.description }}</p>
    <p>Characteristics :{{ estate.characteristics }}</p>

</div>

{% endblock %}
